<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <deviceType>XBee ZB (S2B)</deviceType>
  <component name="system0">
    <id>system</id>
    <settings>
      <setting name="System clock">
        <id>clock</id>
        <value>48 MHz</value>
      </setting>
      <setting name="Bus clock divider">
        <id>clock_divider</id>
        <value>2</value>
      </setting>
      <setting name="Enable Watchdog">
        <id>enable_watchdog</id>
        <value>False</value>
      </setting>
      <setting name="Watchdog timeout">
        <id>watchdog_timeout</id>
        <value>Long</value>
      </setting>
      <setting name="Enable Low-Voltage Detection">
        <id>enable_lvd</id>
        <value>False</value>
      </setting>
      <setting name="Low-Voltage Trigger">
        <id>lvd_mode</id>
        <value>1.84 V</value>
      </setting>
      <setting name="Low-Voltage Behavior">
        <id>lvd_behavior</id>
        <value>Reset</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="special0">
    <id>special_pins</id>
    <settings>
      <setting name="Association LED Pin">
        <id>association_pin</id>
        <value>Enabled</value>
      </setting>
      <setting name="Commissioning Pin">
        <id>commissioning_pin</id>
        <value>Enabled</value>
      </setting>
      <setting name="Reset Pin">
        <id>reset_pin</id>
        <value>Enabled</value>
      </setting>
      <setting name="BDM Pin">
        <id>bdm_pin</id>
        <value>Enabled</value>
      </setting>
      <setting name="RSSI PWM Pin">
        <id>rssi_pwm_pin</id>
        <value>Enabled</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="Association Pin">
          <selected_pin>15</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="Commissioning Pin">
          <selected_pin>20</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="Reset Pin">
          <selected_pin>5</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="BKGD Pin">
          <selected_pin>8</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="RSSI PWM Pin">
          <selected_pin>6</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="rtc0">
    <id>rtc</id>
    <settings>
      <setting name="Enable periodic tasks">
        <id>enable_periodic_tasks</id>
        <value>False</value>
      </setting>
      <setting name="Task period">
        <id>task_period</id>
        <value>125</value>
      </setting>
      <setting name="Real task period">
        <id>real_task_period</id>
        <value>500 ms</value>
      </setting>
      <setting name="Enable Calendar">
        <id>enable_calendar</id>
        <value>False</value>
      </setting>
      <setting name="Enable Alarm">
        <id>enable_alarm</id>
        <value>False</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="network0">
    <id>zigbee</id>
    <settings>
      <setting name="XBee Frame handlers">
        <id>zigbee_frame_handlers</id>
        <settings>
          <setting name="Remote AT command processing">
            <id>remote_at</id>
            <value>Disabled</value>
          </setting>
          <setting name="Modem status processing">
            <id>modem_status</id>
            <value>Disabled</value>
          </setting>
          <setting name="Process transmit status">
            <id>transmit_status</id>
            <value>Disabled</value>
          </setting>
          <setting name="Node Discovery support">
            <id>node_table_support</id>
            <value>Disabled</value>
          </setting>
          <setting name="Process incoming frames">
            <id>packet_reception_ao</id>
            <value>Disabled</value>
          </setting>
          <setting name="Over-the-Air Firmware Update">
            <id>ota_update_enable</id>
            <value>Disabled</value>
          </setting>
          <setting name="Over-the-Air Firmware Update Password">
            <id>ota_update_pw</id>
            <value></value>
          </setting>
        </settings>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="uart0">
    <id>uart</id>
    <settings>
      <setting name="UART Mode">
        <id>uart_mode</id>
        <value>2 Wires</value>
      </setting>
      <setting name="Baud Rate">
        <id>baud_rate</id>
        <value>9600</value>
      </setting>
      <setting name="Parity">
        <id>parity</id>
        <value>None</value>
      </setting>
      <setting name="Data bits">
        <id>data_bits</id>
        <value>8</value>
      </setting>
      <setting name="Water mark">
        <id>water_mark</id>
        <value>1</value>
      </setting>
      <setting name="Buffer length">
        <id>buffer_length</id>
        <value>32</value>
      </setting>
      <setting name="Enable serial console">
        <id>printf</id>
        <value>True</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="RX Pin">
          <selected_pin>3</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="TX Pin">
          <selected_pin>2</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="i2c0">
    <id>i2c</id>
    <settings>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="SDA Pin">
          <selected_pin>7</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="SCL Pin">
          <selected_pin>19</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
</configuration>
