<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <deviceType>XBee ZB (S2B)</deviceType>
  <component name="system0">
    <id>system</id>
    <settings>
      <setting name="System clock">
        <id>clock</id>
        <value>16 MHz</value>
      </setting>
      <setting name="Bus clock divider">
        <id>clock_divider</id>
        <value>2</value>
      </setting>
      <setting name="Enable Watchdog">
        <id>enable_watchdog</id>
        <value>False</value>
      </setting>
      <setting name="Watchdog timeout">
        <id>watchdog_timeout</id>
        <value>Long</value>
      </setting>
      <setting name="Enable Low-Voltage Detection">
        <id>enable_lvd</id>
        <value>False</value>
      </setting>
      <setting name="Low-Voltage Trigger">
        <id>lvd_mode</id>
        <value>1.84 V</value>
      </setting>
      <setting name="Low-Voltage Behavior">
        <id>lvd_behavior</id>
        <value>Reset</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="power_management0">
    <id>power_management</id>
    <settings>
      <setting name="Power management mode (SM)">
        <id>pm_mode</id>
        <value>Pin sleep</value>
      </setting>
      <setting name="Sleep options (SO)">
        <id>cyclic_sleep_so</id>
        <value>Short sleep</value>
      </setting>
      <setting name="Sleep period (SP)">
        <id>cyclic_sleep_sp</id>
        <value>5000</value>
      </setting>
      <setting name="Time before sleep (ST)">
        <id>cyclic_sleep_st</id>
        <value>500</value>
      </setting>
      <setting name="Number of sleep periods (SN)">
        <id>cyclic_sleep_sn</id>
        <value>65535</value>
      </setting>
      <setting name="Keep uptime">
        <id>keep_uptime</id>
        <value>False</value>
      </setting>
      <setting name="Enable Low-Voltage Detection">
        <id>lvd_sleep</id>
        <value>False</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="On Sleep Pin">
          <selected_pin>13</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="Sleep Request Pin">
          <selected_pin>9</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="special0">
    <id>special_pins</id>
    <settings>
      <setting name="Association LED Pin">
        <id>association_pin</id>
        <value>Disabled</value>
      </setting>
      <setting name="Commissioning Pin">
        <id>commissioning_pin</id>
        <value>Disabled</value>
      </setting>
      <setting name="Reset Pin">
        <id>reset_pin</id>
        <value>Enabled</value>
      </setting>
      <setting name="BDM Pin">
        <id>bdm_pin</id>
        <value>Disabled</value>
      </setting>
      <setting name="RSSI PWM Pin">
        <id>rssi_pwm_pin</id>
        <value>Disabled</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="Reset Pin">
          <selected_pin>5</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="rtc0">
    <id>rtc</id>
    <settings>
      <setting name="Enable periodic tasks">
        <id>enable_periodic_tasks</id>
        <value>False</value>
      </setting>
      <setting name="Task period">
        <id>task_period</id>
        <value>250</value>
      </setting>
      <setting name="Real task period">
        <id>real_task_period</id>
        <value>1000 ms</value>
      </setting>
      <setting name="Enable Calendar">
        <id>enable_calendar</id>
        <value>False</value>
      </setting>
      <setting name="Enable Alarm">
        <id>enable_alarm</id>
        <value>False</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="network0">
    <id>zigbee</id>
    <settings>
      <setting name="XBee Frame handlers">
        <id>zigbee_frame_handlers</id>
        <settings>
          <setting name="Remote AT command processing">
            <id>remote_at</id>
            <value>Disabled</value>
          </setting>
          <setting name="Modem status processing">
            <id>modem_status</id>
            <value>Disabled</value>
          </setting>
          <setting name="Process transmit status">
            <id>transmit_status</id>
            <value>Disabled</value>
          </setting>
          <setting name="Node Discovery support">
            <id>node_table_support</id>
            <value>Disabled</value>
          </setting>
          <setting name="Process incoming frames">
            <id>packet_reception_ao</id>
            <value>Enabled</value>
          </setting>
          <setting name="Over-the-Air Firmware Update">
            <id>ota_update_enable</id>
            <value>Disabled</value>
          </setting>
          <setting name="Over-the-Air Firmware Update Password">
            <id>ota_update_pw</id>
            <value></value>
          </setting>
        </settings>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="uart0">
    <id>uart</id>
    <settings>
      <setting name="UART Mode">
        <id>uart_mode</id>
        <value>2 Wires</value>
      </setting>
      <setting name="Baud Rate">
        <id>baud_rate</id>
        <value>9600</value>
      </setting>
      <setting name="Parity">
        <id>parity</id>
        <value>None</value>
      </setting>
      <setting name="Data bits">
        <id>data_bits</id>
        <value>8</value>
      </setting>
      <setting name="Water mark">
        <id>water_mark</id>
        <value>1</value>
      </setting>
      <setting name="Buffer length">
        <id>buffer_length</id>
        <value>32</value>
      </setting>
      <setting name="Enable serial console">
        <id>printf</id>
        <value>True</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="RX Pin">
          <selected_pin>3</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="TX Pin">
          <selected_pin>2</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="i2c0">
    <id>i2c</id>
    <settings>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="SDA Pin">
          <selected_pin>7</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
        <pin_config name="SCL Pin">
          <selected_pin>19</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="EEPROM0">
    <id>24xxx</id>
    <settings>
      <setting name="I2C Slave Sub-Address">
        <id>slave_subaddress</id>
        <value>0</value>
      </setting>
      <setting name="EEPROM Address bytes">
        <id>address_bytes</id>
        <value>2</value>
      </setting>
      <setting name="EEPROM Page Size">
        <id>period</id>
        <value>64</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="adc_config0">
    <id>adc_configuration</id>
    <settings>
      <setting name="Conversion Mode">
        <id>conversion_mode</id>
        <value>12 bits</value>
      </setting>
      <setting name="Optimization">
        <id>optimization</id>
        <value>Power</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
      </template>
    </pin_distribution>
  </component>
  <component name="irq0">
    <id>gpio_irq</id>
    <settings>
      <setting name="Detection mode">
        <id>activation_type</id>
        <value>Edge</value>
      </setting>
      <setting name="Active Edge">
        <id>edge_activation_mode</id>
        <value>Fall</value>
      </setting>
      <setting name="Active Level">
        <id>level_activation_mode</id>
        <value>High level</value>
      </setting>
      <setting name="Pin Pull">
        <id>irq_pull</id>
        <value>High</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="IRQ Pin">
          <selected_pin>11</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="RELEASE">
    <id>standard_gpio</id>
    <settings>
      <setting name="GPIO type">
        <id>gpio_type</id>
        <value>Output</value>
      </setting>
      <setting name="Pullup enabled">
        <id>pullup_enabled</id>
        <value>True</value>
      </setting>
      <setting name="Enable Slew Rate">
        <id>slew_rate</id>
        <value>True</value>
      </setting>
      <setting name="Drive Strength">
        <id>logic</id>
        <value>High</value>
      </setting>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="GPIO Pin">
          <selected_pin>12</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
  <component name="VMEASURE">
    <id>adc_component</id>
    <settings>
    </settings>
    <pin_distribution>
      <template name="Default template" locked="false">
        <pin_config name="ADC Pin">
          <selected_pin>18</selected_pin>
          <is_dynamic>false</is_dynamic>
        </pin_config>
      </template>
    </pin_distribution>
  </component>
</configuration>
